@model Libraary.Web.Models.Authors.AuthorViewModel[]
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Books count</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @Model.Length; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Model[i].Name</td>
                <td>@Model[i].Address</td>
                <td>@Model[i].BooksCount</td>
                <td>
                    <a asp-controller="Authors"
                       asp-action="Details"
                       asp-route-authorId="@Model[i].Id"
                       class="btn btn-outline-info"
                       role="button">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
