@model Libraary.Web.Models.Books.BookViewModel[]
@{
    ViewData["Title"] = "My History";
}

<<div class="custom-table">
    <div class="header">My History of rented books</div>
    <table>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Rating</th>
            <th>Rented on</th>
            <th>Returned on</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <th>
                    <a asp-controller="Books"
                       asp-action="Details"
                       asp-route-bookId="@book.Id"
                       target="_blank">
                        <img src="@book.Picture" width="80" height="80" />
                    </a>
                </th>
                <td>@book.Name</td>
                <td>@book.Authors</td>
                <td>@book.Publisher</td>
                <td>@book.Rating</td>
                <td>@book.RentedOn</td>
                <td>@(book.ReturnedOn == null ? "Not returned yet" : book.ReturnedOn)</td>
            </tr>
        }
    </table>
</div>
