@model Libraary.Web.Models.Books.BookDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "_BookLayout";
}


<div id="headerBackground">
    <h1>@Model.Name</h1>
</div>
<div id="header">
    <h1>@Model.Name</h1>
</div>
<div class="container">
    <div class="row justify-content-center" style="margin-top:7rem;">
        <div class="col-4">
            <img src="@Model.Picture" width="350" height="450" />
        </div>
        <div class="col-6">
            <dl class="customDL">
                <dt>Author:</dt>
                <dd>@Model.Authors</dd>
                <dt>Publisher: </dt>
                <dd>@Model.Publisher</dd>
                <dt>Category: </dt>
                <dd>@Model.Categories</dd>
                @if (User.IsInRole("Librarian") && Model.IsRented)
                {
                    <dt>Rented by: </dt>
                    <dd>@Model.User</dd>
                    <dt>Rented on: </dt>
                    <dd>@Model.RentDate</dd>
                }
            </dl>
            <div class="starForm">
                <form asp-controller="Books" asp-action="Rating" method="post">
                    <div class="form-group">
                        <div class="col-lg-8">
                            <span class="rating">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    var starClass = "star";
                                    if (Model.Rating == 6 - i)
                                    {
                                        starClass += " active";
                                    }
                                    <span data-value="@(6 - i)" class="@starClass"></span>
                                }
                            </span>
                        </div>
                        <input asp-for="Rating" type="hidden" />
                        <input asp-for="Id" type="hidden" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>
            @if (User.IsInRole("User") && Model.IsRented == false)
            {
                <div class="customButton">
                    <a asp-controller="Users"
                       asp-action="Rent"
                       asp-route-bookId="@Model.Id"
                       class="btn btn-primary btn-lg btn-block"
                       role="button">
                        Rent
                    </a>
                </div>
            }

            @if (User.IsInRole("Librarian"))
            {
                if (Model.IsRented == false)
                {
                    <div class="customButton">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
                            Remove
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Do you really want to delete this book?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Close</button>
                                    <a asp-controller="Books"
                                       asp-action="Remove"
                                       asp-route-bookId="@Model.Id"
                                       class="btn btn-outline-warning"
                                       role="button">
                                        Yes, Remove
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.IsRented == true)
                {
                    <div class="customButton">
                        <a asp-controller="Books"
                           asp-action="Edit"
                           asp-route-bookId="@Model.Id"
                           class="btn btn-primary btn-lg btn-block"
                           role="button">
                            Edit
                        </a>
                    </div>
                }
                else
                {
                    <div class="customButton" style="margin-top: 0.5rem;">
                        <a asp-controller="Books"
                           asp-action="Edit"
                           asp-route-bookId="@Model.Id"
                           class="btn btn-primary btn-lg btn-block"
                           role="button">
                            Edit
                        </a>
                    </div>
                }
            }

            @if (User.IsInRole("Librarian") && Model.IsRented)
            {
                <div style="margin-top: 3.54rem;">
                    <div class="customButton">
                        <a asp-controller="Books"
                           asp-action="ReturnBook"
                           asp-route-bookId="@Model.Id"
                           class="btn btn-primary btn-lg btn-block"
                           role="button">
                            Return
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="summary">
            <label>Summary</label>
            <p>@Model.Summary</p>
        </div>
    </div>
</div>

<script>
    window.onscroll = function () { myFunction() };

    var header = document.getElementById("headerBackground");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
