@using Libraary.Services
@model Libraary.Web.Models.Books.BookEditInputModel
@inject ICategoryService CategoryService
@inject IAuthorService AuthorService
@inject IPublisherService PublisherService
@{
    ViewData["Title"] = "Edit Book";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <img src="@Model.Picture" width="80" height="80" />
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload new picture:</p>
            <input asp-for="NewPicture">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Book name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Summary"></label>
        <input asp-for="Summary" class="form-control" placeholder="Summary">
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>
    <fieldset>
        <legend>Choose author</legend>
        @foreach (var item in AuthorService.GetAllAuthorsByName())
        {
            if (Model.Authors.Contains(item))
            {
                <div>
                    <input type="checkbox" name="Authors" value="@item" checked>
                    <label asp-for="@item">@item</label>
                </div>
            }
            else
            {
                <div>
                    <input type="checkbox" name="Authors" value="@item">
                    <label asp-for="@item">@item</label>
                </div>
            }
        }
    </fieldset>
    <fieldset>
        <legend>Choose publisher</legend>
        @foreach (var item in PublisherService.GetAllPublishersName())
        {
            if (Model.Publisher == item)
            {
                <div>
                    <input type="checkbox" name="Publisher" value="@item" checked>
                    <label asp-for="@item">@item</label>
                </div>
            }
            else
            {
                <div>
                    <input type="checkbox" name="Publisher" value="@item">
                    <label asp-for="@item">@item</label>
                </div>
            }
        }
    </fieldset>
    <fieldset>
        <legend>Choose categories</legend>
        @foreach (var item in CategoryService.GetCategories())
        {
            if (Model.Categories.Contains(item))
            {
                <div>
                    <input type="checkbox" name="Categories" value="@item" checked>
                    <label asp-for="@item">@item</label>
                </div>
            }
            else
            {
                <div>
                    <input type="checkbox" name="Categories" value="@item">
                    <label asp-for="@item">@item</label>
                </div>
            }
        }
    </fieldset>
    <div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}