@using Libraary.Services
@model Libraary.Web.Models.Books.BookEditInputModel
@inject ICategoryService CategoryService
@inject IAuthorService AuthorService
@inject IPublisherService PublisherService
@{
    ViewData["Title"] = "Edit Book";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <img src="@Model.Picture" width="80" height="80" />
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload new picture:</p>
            <input asp-for="NewPicture">
            <span asp-validation-for="NewPicture" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Book name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Summary"></label>
        <input asp-for="Summary" class="form-control" placeholder="Summary">
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>
    <fieldset>
        <select class="form-control" multiple asp-for="Authors">
            <option value="" disabled selected>Choose author</option>
            @foreach (var item in AuthorService.GetAllAuthorsByName())
            {
                if (Model != null)
                {
                    if (Model.Authors.Any(x => x == item))
                    {
                        <option value="@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
                    }
                }
                else
                {
                    <option value="@item">@item</option>
                }
            }
        </select>
        <span asp-validation-for="Authors" class="text-danger"></span>
        <p class="text-info">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
    </fieldset>
    <hr />
    <fieldset>
        <select class="form-control" asp-for="Publisher">
            <option value="" disabled selected>Choose publisher</option>
            @foreach (var item in PublisherService.GetAllPublishersName())
            {
                <option value="@item">@item</option>
            }
        </select>
        <span asp-validation-for="Publisher" class="text-danger"></span>
    </fieldset>
    <hr />
    <fieldset>
        <select class="form-control" multiple asp-for="Categories">
            <option value="" disabled selected>Choose categories</option>
            @foreach (var item in CategoryService.GetCategories())
            {
                <option value="@item">@item</option>
            }
        </select>
        <span asp-validation-for="Categories" class="text-danger"></span>
        <p class="text-info">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
    </fieldset>
    <hr />
    <div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}